<div class ="container">
    <h1> This is a form example</h1>
    <form #login ="ngForm" (ngSubmit) ="submit(login)">
        <div class="form-group">
            <label for="firstName">FirstName</label>
            <input #nam ="ngModel" required minlength="2" type="text" name="firstName" class ="form-control" ngModel>
            <div *ngIf = 'nam.touched && nam.invalid' class="alert-danger">Invalid data</div>
        </div>
        <div class="form-group">
            <label for="lastame">LaststName</label>
            <input type="text" name="lastName" class ="form-control" ngModel>
        </div>
        <div class="form-group">
            <label for="email">email</label>
            <input type="text" name="email" class ="form-control" ngModel>
        </div>
        <div class="form-group">
            <label for="password">password</label>
            <input type="text" name="password" class ="form-control" ngModel>
        </div>
        <button class="btn-primary" type ="submit">Submit </button>
    </form>

</div>

Create a component through Terminal cd src-> cd app -> ng g c form-component
#login, #nam are variables
when button type is submit, it will redirect to ngSubmit of form, we can declare our submit method in component.ts file
You can fetch form values through #login= ngForm and display it or based on that display error