<h1> Hello Angular Course</h1>
<h2> Trying to learn {{course}}</h2>
<img [src] = "image" alt="Angular img logo" style="height: 150px; width: 150px;"> 
<br>
<button (click) ='onClick()'> Check event binding</button>
<!-- Types of Data Binding
  1. Interpolation and property Binding - Interpolation(limits to string) is one way binding and use {} to bind in html declared variable in component. Property binding is using [] to bind images, etc
  2. Event Binding - It is passing value fro UI to your component
  3. Two-way data binding -- It is like state variable in react when you change in UI, It is chnage in component as well as in UI-->
<br>
<input [(ngModel)]="textValue" type="text"> <!-- This is part of Form module, so have to import it in app.module -->
<br>
{{textValue}}
<br>

<app-form-component></app-form-component>